<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
       
      <context:property-placeholder location="classpath:prac/springAssignment2/app.properties"/>

	<bean class="prac.springAssignment2.Employee" name="emp1">
		<property name="Fist_name" value="${fnm}" />
		<property name="Last_name" value="${lnm}" />
		<property name="EmpID" value="${eid}" />	
	</bean>

 
</beans>